* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}
/*
body {
	display: flex;
	justify-content: center;

	background: rgb(0,0,200);

	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.2)
}
*/
#main {
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
}
nav {
	/*width: 80%;*/
	height: 30px;
	display: flex;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
	background-color: #171616; /*my*/
}
nav img {
	width: 40px;
	margin-left: 30px; /*my*/
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
nav ul li a:hover {
	color: #64eb34;
}
#detail {
	margin-left: 8%;
	margin-top: 13%;
}
#detail h1 {
	font-size: 50px;
	color: black;
	margin-bottom: : 20%;
	/*font-family: sans-serif;*/
}
span {
	/* the color is light green*/
	color: #64eb34;
}
#detail p {
	color: grey;
	line-height: 22px;
}
#detail a {
	background: #353634;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin: 20px 0;
	border-radius: 5px;
	font-family: sans-serif;
}
#detail a:hover {
	box-shadow: #64eb34 5px 5px 10px;
	background-color: green;
	color: white;
}

/* images */
.image-container {
  position: relative;
}
.image-container img {
	width: 850px;
	transition: transform 1s;
	/*overflow: hidden;*/
}
#flower {
	/*position: absolute;
	right: 0;
	top: 0;*/

	/*float: right;*/
}
#flower:hover{
	transform: translate(20px);
}
#leaf:hover{
	transform: translate(-20px);
}
